<section class="footer">
  {# Footer #}
  <footer class="container mt-5">
    <p class="text-muted">
      <small>
        Backcountry.com &copy {{ 'now'|date('Y')}} &middot; Built with
        <span class="text-danger">&hearts;</span> by <a href="">Elgato</a>
      </small>
    </p>
  </footer>
</section>
