{% extends 'layouts/base.html.twig' %} {% block title %}'Best tricks learing!'{%
endblock %} {% block body %}
<h1>JQuery DOM Manipulation</h1>

<!-- ===================================================================== -->
