{% extends 'layouts/base.html.twig' %} {% block title %}'Best tricks learing!'{%
endblock %} {% block body %}
<h1>JQuery DOM Manipulation</h1>
<h2>Click on the button present below</h2>
<span id="span1"></span>
<div class="div1" style="background-color: aquamarine"></div>
<p class="p1">This is box 1</p>
<button id="btn1">Click me</button>

<!-- ===================================================================== -->
<script></script>
