.content {
  //section container
  width: 100%;
  border: 3px solid magenta;

  &__cards {
    //sous section rpw
    //ciblage markup
    margin-left: 5px;
    border: 5px solid gray;
  }

  &__card {
    border: 2px solid blue;
  }
}
