/* COLORS */
//Primary colors fonts
$darkBlue: hsl(233, 26%, 24%); //
$limeGreen: hsl(136, 65%, 51%); //
$brightCyan: hsl(192, 70%, 51%); //

//Neutral colors background
$eggplant: hsl(84%, 60%, 20%); //#51144E
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

/* FONTS */
//Fonts
$font-title: "Montserrat", serif; //Montserrat400
$font-paragraph: "Oxygen", serif; //Oxygen light 300
$font-other: "Barlow", serif; //Barlow100

//Font Sizes
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px
$font-lg: 1.25rem; //20px
$font-xlg: 3.25rem; //52px
