{% extends 'layouts/base.html.twig' %} {% block title %}Hello
TricksController!{% endblock %} {% block body %}
{{ include("layouts/partials/_nav.html.twig") }}
<div class="container">
  <div class="row text-center">
    <article>
      <h1 class="mb-4">Edit: {{ trick.nom }}</h1>
      {{
        include("tricks/_form.html.twig", { submitButtonText: "Edit Trick" })
      }}
    </article>
  </div>
</div>
{% endblock %} {# Cette partie vas s'aditionner en js #}
