{% extends 'layouts/base.html.twig' %} {% block title %}Hello
TricksController!{% endblock %} {% block body %}
{{ include("layouts/partials/_nav.html.twig") }}
<div class="container border text-center">
  <div class="row">
    <article>
      <h1>Edit: {{ trick.nom }}</h1>
      {{
        include("tricks/_form.html.twig", { submitButtonText: "Edit Trick" })
      }}
    </article>
  </div>
</div>
{% endblock %}
