{% extends 'layouts/base.html.twig' %} {% block title %}'Best tricks learing!'{%
endblock %} {% block body %}
<!-- ======================================================================= -->
<!-- Navigation ici -->
<!-- ======================================================================= -->
{{ include("layouts/partials/_nav.html.twig") }}
<!-- ======================================================================= -->
<!-- Cover -->
<!-- ======================================================================= -->
<div class="row">

    <div class="cover text-center">

      <img src=" {{ asset('build/images/cover.jpg') }}" alt="Image a la une" class="img-responsive" width="100%"
      alt="Image de presentation">
      
      <div class="textoverlay">
        <h1>"The Best trick ever" </h1>
        <p>Brough to you by nitro.</p>
      </div>

      <div class="fleche">
        <button type="button" class="btn btn-outline-secondary mb-2">
          fleche ici
          <i class="fa-solid fa-arrow-down-from-dotted-line"></i>
        </button></a>
      </div>

      <a href="#bas"
      >
    </div>
</div>

<!-- ======================================================================= -->
<!-- Card Model-->
<!-- Content [Listing des articles] -->
<!-- ======================================================================= -->
<div class="container-xxl mt-2">
  {% if tricks|length > 0 %}
  <a name="haut">...</a>
  <div class="list-trick">
    {% include 'tricks/_list_trick.html.twig' %}
  </div>
  <p class="h1 mt-5 text-center">
    No tricks yet <a href=" {{ path('app_tricks_create') }}">Be the first! </a>
  </p>
  {% endif %}
  <a name="bas">...</a>

  <!-- ===================================================================== -->
  <!-- LOAD MORE Button --> 
  <!-- Ajouter un id pour le js -->
  <!-- ===================================================================== -->
  {% set pages = (total/limit)| round(0, 'ceil') %} 
  
    <div class="row col-md-12 text-center">
      
    <button type="button" class="load-more btn btn-secondary btn-lg">LOAD MORE</button>

      {# Get data with XMLHttpRequest #}
    <div class="row text-center">
      <a href="#haut"
        ><button type="button" class="btn btn-outline-secondary mb-2">
          Arrow
          <i class="fa-solid fa-arrow-up-from-dotted-line"></i>
        </button></a
        >
      
    </div>
  </article>
</div>
{% endblock %}

{% block javascripts %}
{{ parent () }}
<script>
  $(function () {

    $('.load-more').on('click', function(e) {
        e.preventDefault();
        $.ajax({
          url: window.location.href + '?page=2'
        }).then(function(response) {

          $('.list-trick').append(response)
        })
    })

})
</script>
{% endblock %}
